.document
  padding: 42px 0 106px
  &-block
    display: flex
    justify-content: space-around
    align-items: flex-start
    flex-wrap: wrap
  &__title
    max-width: 650px
    font-size: 30px
    line-height: 45px
    margin: 0 auto
    margin-bottom: 85px
    +bold
  &__card
    text-align: center
  &__image
    background: $modal-color
    padding: 25px 30px 27px 21px
    margin-bottom: 41px
  &__text
    font-size: 18px
    line-height: 24px

