@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/Museo-Sans-light/MuseoSansCyrl-300.eot");
  src: url("../fonts/Museo-Sans-light/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo-Sans-light/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/Museo-Sans-light/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/Museo-Sans-bold/MuseoSansCyrl-700.eot");
  src: url("../fonts/Museo-Sans-bold/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo-Sans-bold/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/Museo-Sans-bold/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:active,
a:focus,
button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 860px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    width: 85%;
  }
}

.button {
  padding: 18px 30px;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
}

.button:hover {
  background-color: #ffdb33;
}

.section {
  padding: 57px 0 90px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

@media (max-width: 768px) {
  .section {
    padding: 35px 0 56px;
  }
}

.input {
  padding: 23px 26px;
  font-size: 15px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.input:focus {
  border-color: #ffd200;
  border-radius: 10px;
}

.back-top {
  position: fixed;
  width: 30px;
  bottom: 2%;
  right: 2%;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__phone {
  display: inline-block;
  margin-top: 7px;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar {
    padding: 17px 0 18px 0;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .navbar__logo {
    width: 90px;
  }
  .navbar__button {
    margin-left: 25px;
    margin-right: -5px;
    padding: 15px 26px 15px 26px;
    font-size: 10px;
    margin-left: 25px;
  }
}

.hero {
  padding: 49px 0 10px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  padding-right: 100px;
}

.hero-text__title {
  margin-bottom: 37px;
  font-size: 41px;
  line-height: 136%;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 68px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  margin-left: -1px;
}

.hero-list__item:first-child {
  margin-bottom: 26px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  min-width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.hero-list__text:nth-child(2) {
  margin-bottom: -2px;
}

@media (max-width: 991px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 20px 0 38px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.3;
    margin-left: 3px;
    margin-bottom: 6px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 1.2;
    margin-left: 3.5px;
    margin-bottom: 28px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .hero-list__item {
    margin-bottom: 15px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.1;
  }
  .hero-list__image {
    margin-right: 14px;
  }
}

.offer {
  background: url("../img/offer/offer-img.png") no-repeat center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  margin-bottom: 17px;
  max-width: 360px;
  line-height: 36px;
  text-align: left;
}

.offer__subtitle {
  margin-bottom: 30px;
  max-width: 250px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 11px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 28px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333333;
  letter-spacing: -0.4px;
}

.offer__manager {
  line-height: 24px;
  width: 229px;
}

.offer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.offer__phone {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 5px;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300;
  }
  .offer__manager {
    margin-bottom: 7px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
    padding: 35px 0 56px;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 125%;
  }
  .offer__subtitle {
    font-size: 14px;
    max-width: 203px;
  }
  .offer__manager {
    max-width: 239px;
  }
  .offer__button {
    font-size: 14px;
    padding: 18px 45px 18px 50px;
    margin-bottom: 23px;
  }
  .offer__form {
    margin-top: -2px;
  }
  .offer__input {
    margin-bottom: 9px;
  }
  .offer__address {
    margin-bottom: 9px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  width: 50%;
  background: #ffffff;
}

.modal-dialog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  background: #ffd200;
  border: none;
  border-radius: 2px;
}

.modal-block {
  width: 100%;
}

.modal-block__price {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 80px 100px 76px 100px;
  text-align: center;
}

.modal-block__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 22px;
}

.modal-block__subtitle {
  display: inline-block;
  margin-bottom: 45px;
  font-size: 16px;
}

.modal__input {
  width: 100%;
  margin-bottom: 15px;
}

.modal__input:nth-last-child(2) {
  margin-bottom: 30px;
}

.modal__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__address {
  margin-bottom: 13px;
  font-size: 15px;
  width: 271px;
}

.modal__phone {
  color: #333333;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .modal-block__price {
    padding: 80px 50px;
  }
  .modal-dialog {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .modal-dialog {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .modal-block__price {
    padding: 40px 20px;
  }
  .modal-dialog {
    width: 80%;
  }
}

@media (max-width: 542px) {
  .modal-block__price {
    padding: 50px 30px;
  }
  .modal-block__title {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .modal-block__subtitle {
    font-size: 15px;
  }
  .modal-dialog {
    width: 100%;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/fon-portfolio.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 800px;
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 90px;
  line-height: 144%;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__item {
  margin-right: 15px;
}

.slider__img {
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    background-image: none;
    padding: 5px 0 60px;
  }
  .portfolio__title {
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 133%;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
  .slider__item {
    margin-right: 0;
  }
  .slider__img {
    width: 246px;
  }
}

.price__title {
  margin: auto;
  margin-top: 35px;
  max-width: 515px;
  font-size: 30px;
  line-height: 144%;
}

.price__subtitle {
  text-align: center;
  margin-top: 48px;
  font-size: 20px;
  line-height: 144%;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56px;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card img {
  display: block;
}

.card__text {
  padding: 14px 0 40px;
}

.card__title {
  font-size: 18px;
  margin-bottom: 29px;
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

.card__link {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.card__link:hover::after {
  height: 13px;
}

.card__link::after {
  content: '';
  position: absolute;
  z-index: -999;
  bottom: -5px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

@media (max-width: 826px) {
  .card {
    margin-bottom: 30px;
  }
  .card__text {
    padding: 30px 0 29px;
  }
  .card__title {
    margin: 0;
    font-size: 14px;
    margin-bottom: 13px;
  }
  .card__link {
    font-size: 16px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
}

@media (max-width: 542px) {
  .price {
    padding: 35px 0 10px;
  }
  .price__title {
    font-size: 18px;
    margin-top: 13px;
    line-height: 124%;
  }
  .price__subtitle {
    margin-left: -4px;
    font-size: 14px;
    margin-top: 22px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-top: 58px;
  text-align: center;
  position: relative;
}

.step::after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -15%;
  background: url("../img/steps/arrow.png") no-repeat center;
}

.step:last-child::after {
  display: none;
}

.step__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ffd200;
}

.step__text {
  font-size: 14px;
  width: 160px;
  margin: auto;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.steps {
  padding: 27px 0 90px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.steps__title {
  margin: auto;
  margin-top: 9px;
  max-width: 666px;
  font-size: 30px;
  line-height: 144%;
}

.steps__subtitle {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 144%;
}

@media (max-width: 992px) {
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 15px;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 826px) {
  .steps__title {
    font-size: 18px;
  }
  .steps__subtitle {
    margin-top: 25px;
    font-size: 14px;
  }
}

@media (max-width: 542px) {
  .step {
    margin: 0;
    margin-bottom: 32px;
  }
  .step__text {
    width: 128px;
    font-size: 11px;
    line-height: 16px;
  }
  .step__image {
    margin-bottom: 22px;
  }
  .steps {
    padding: 0px 0 56px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .steps__title {
    margin-top: 13px;
    line-height: 23px;
  }
  .steps__subtitle {
    margin-top: 20px;
    margin-bottom: 29px;
  }
}
/*# sourceMappingURL=style.css.map */